<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            Name:
            <%- branch.name%>
        </li>
        <li class="list-group-item">Address:
            <%-branch.address%>
        </li>
        <li class="list-group-item">Active:
            <%-branch.active%>
        </li>

    </ul>
</div>