<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <a class="navbar-brand" href="#"><img src="/images/logos/head.ico" class="nav-logo" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <span style="cursor: pointer;" class="nav-link" onclick="$('#main').load('/home'); activate(this);">Home</span>
            </li>
            <li class="nav-item">
                <span style="cursor: pointer;" class="nav-link" onclick="$('#main').load('about'); activate(this);">About</span>
            </li>
            <li id="login_btn" class="nav-item">
                <a class="nav-link" href="#loginModal" data-toggle="modal">Login</a
                >
            </li>
            <li id="logout_btn" class="nav-item" style="display: none">
                <a class="nav-link" href="#logoutModal" data-toggle="modal"
                    >Logout</a
                >
            </li>

            <li class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdownMenuLink"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    Navigate
                </a>
                <div id="navbarDropDown" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" onclick="$('#main').load('flowers');">Flowers</a
                    >
                    <a
                        id="userDropDown"
                        class="dropdown-item"
                        onclick="$('#main').load('users');"
                        style="display: none"
                        >Users</a
                    >
                    <a
                        id="branchDropDown"
                        class="dropdown-item"
                        onclick="$('#main').load('branches');"
                        style="display: none;"
                        >Branches</a
                    >
                </div>
                <li class="nav-item">
                <div id="welcomeNote" class="nav-link">
                    Welcome
                </div>
                </li>
            </li>
        </ul>
    </div>
</nav>

<div id="loginModal" class="modal fade">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <form action="javascript:void(0);">
                <div class="modal-header">
                    <h4 class="modal-title">Login</h4>
                    <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-hidden="true"
                    >
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Email</label>
                        <input
                            type="text"
                            id="email"
                            class="form-control"
                            required="required"
                        />
                    </div>
                    <div class="form-group">
                        <div class="clearfix">
                            <label>Password</label>
                            <a href="#" class="float-right text-muted">
                                <small>Forgot?</small>
                            </a>
                </div>

                <input id="password" type="password" class="form-control" required="required" />
    </div>
    </div>
    <div class="modal-footer justify-content-between">
        <label class="form-check-label">
                        <input type="checkbox" />
                        Remember me
                    </label>
        <button class="btn btn-primary bg-warning" onclick="get_user()">
                        Login
                    </button>
    </div>
    </form>
    </div>
    </div>
    </div>

    <div id="logoutModal" class="modal fade">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <form action="javascript:void(0);">
                    <div class="modal-header">
                        <h4 class="modal-title">Log Out</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    </div>
                    <div class="modal-body">Are you sure you want to log out?</div>
                    <div class="modal-footer justify-content-between">
                        <button class="btn btn-primary bg-warning" onclick="logout()">
                        Yes
                    </button>
                        <button class="btn btn-primary bg-warning" data-dismiss="modal">
                        No
                    </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function isAuthorized(userType) {
            return (
                userType == "Developer" ||
                userType == "manager"
            );

        }

        async function get_user() {
            if ($("#email").val() == "" || $("#password").val() == "") return;
            fetch("/authenticate", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        email: $("#email").val(),
                        password: $("#password").val(),
                    }),
                })
                .then((res) => res.json())
                .then((data) => {
                    if (data.success) {
                        console.log("Login Successful");
                        $("#loginModal").modal("toggle");
                        $("#login_btn").hide();
                        $("#logout_btn").show();
                        $("#welcomeNote").text(`Welcome, ${data.user.fname} ${data.user.lname}`);

                        if (isAuthorized(data.user.userType)) {
                            $("#userDropDown").show();
                            $("#branchDropDown").show();
                        }
                    } else {
                        console.log("Error:", data.message);
                    }
                })
                .catch((error) => {
                    console.error("Failed to connect to server");
                });
        }

        async function logout() {
            fetch("/logout")
                .then((res) => res.json())
                .then((data) => {
                    if (data.success) {
                        console.log("Logout Successful");
                        $("#welcomeNote").text("Welcome");
                        $("#logoutModal").modal("toggle");
                        $("#login_btn").show();
                        $("#logout_btn").hide();
                    }
                })
                .catch((error) => {
                    console.error("Failed to connect to server");
                });
        }

        async function checkUser() {
            let fname = getCookie("fname");
            if (fname == null || fname == "") {
                return;
            }
            $("#login_btn").hide();
            $("#logout_btn").show();
            let lname = getCookie("lname");
            $("#welcomeNote").text(`Welcome, ${fname} ${lname}`);
            let userType = getCookie("userType");
            if (isAuthorized(userType)) {
                fetch("/userType")
                    .then((res) => res.json())
                    .then((data) => {
                        if (data.authorized) {
                            $("#userDropDown").show();
                            $("#branchDropDown").show();

                        } else
                            console.error("Don't touch my cookies!");
                    })
                    .catch((error) => {
                        console.error("Failed to connect to server");
                    });

            }
        }

        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(";");
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == " ") c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0)
                    return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        function activate(curElement) {
            $(curElement).parent().siblings().each(function() {
                $(this).removeClass("active")
            });
            $(curElement).parent().addClass("active");
        }
        checkUser();
    </script>