<!DOCTYPE html>
<!-- views/index.ejs -->
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body id="body" class="container parallax" onload="mainLoad('home');">
    <header>
        <%- include ('./partials/header') %>
    </header>
    <div style="position:relative; min-height:100vh;">
        <main>
            <div id="main" style="padding-bottom: 7.5rem">


            </div>
        </main>

        <%- include ('partials/footer') %>
    </div>

</body>

</html>