<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type ="text/css" href="Style.css"></head>
<body>

<h2>My Favorite Flowers</h2>
<ol>
  <% Students.forEach((stud)=>{%>
    <li><%=stud.fname%>&nbsp;<%=stud.lname%><br>
        Age: <%=stud.age%> - GPA: <%=stud.avg%></li>
    <%})%>
</ol>



</body>
</html>
